<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accueil</title>
    {{#if meta_description }}
        <meta name="description" content="{{meta_description}}">
    {{/if}}
    <link rel="stylesheet" href="vendor/foundation/foundation.min.css">
    <link rel="stylesheet" href="css/main-min.css">
</head>