<div class="row" id="page-title">
    <div class="medium-12 column">
        <div class="tile">
            <h3>Geronimo</h3>
        </div>
    </div>
</div>
<div class="row" id="top-bar">
    <div class="medium-12 column">
        <div class="top-bar stacked-for-medium stacked-for-large">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text">Geronimo</li>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="mailto:matthieu.clin@outlook.com">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>