body{
    background-color: #1D4851;
    color: #7D8488;
}

.tile{
    background-color: #FFFFFF;
    padding: 15px;
}
    .content .tile {
        margin-bottom: 15px;
    }

a{
    color: #383331;
}

a:hover{
    color: #d2b75e;
}

#page-title{
    text-transform: uppercase;
    text-align: center;
    color: #d2b75e;
}

    #page-title .tile{
        background-color: #383331;
    }

#top-bar .top-bar,
#top-bar .top-bar ul{
    background-color: #FFFFFF;
}