<!doctype html>
<html class="no-js" lang="fr">
{{>head}}
<body>

{{> menu}}

{{{body}}}

{{>footer}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
    <script src="vendor/angularjs/angular.min.js"></script>
    <script src="vendor/angularjs/chartjs/angular-chart.min.js"></script>
    {{#each js}}
        <script src="{{this}}"></script>
    {{/each}}
</body>
</html>