<!doctype html>
<html class="no-js" lang="fr">
{{>head}}
<body>

{{> menu}}

{{{body}}}

{{>footer}}
    <script src="vendor/angular.min.js"></script>
    <script src="vendor/angular-table/angular-table.min.js"></script>
    {{#each js}}
        <script src="{{this}}"></script>
    {{/each}}
</body>
</html>