<div class="content" ng-app="app">
    <div class="row">
        <div class="medium-12 columns">
            <div class="callout secondary">
                <h5>Information</h5>
                <p>Cette page ainsi que la majorité du site utilise les données disponibles gratuitement <a target="_blank" href="https://data.sncf.com/">à cette page.</a><br>
                Concernant les informations sur les trains annulés, veuillez vous référer <a target="_blank" href="http://www.sncf.com/fr/horaires-info-trafic"> aux horaires info trafic en temps réel fournis par la SNCF.</a>
                pour plus d'information</p>
            </div>
        </div>
    </div>
    <div class="row"ng-controller="basicExampleCtrl">
        <div class="medium-3 columns">
            <div class="tile">
                <h3>Filtres : </h3>
                <div class="row">
                    <div class="columns medium-6 small-6" ng-repeat="(id, s) in status">
                        <input id="status[[[id]]]" type="radio" ng-model="query.status" ng-value="s.value" ng-change="updateList()">
                        <label for="status[[[id]]]">[[[s.name]]]</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="medium-9 columns hide-for-small-only">
            <div class="tile">
                <p> Mise à jour à [[[displayAsDate(data.info.updated)]]]</p>
                <div ng-if="disruptions.length > 0">
                    <table class="table table-striped" at-table  at-paginated at-list="disruptions" at-config="config">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td at-implicit at-sortable at-title="Etat" at-attribute="status" at-initial-sorting="asc"></td>
                            <td at-implicit at-sortable at-title="N° train" at-attribute="object_name"></td>
                            <td at-implicit at-sortable at-title="Raison" at-attribute="text" width="250px"></td>
                            <td at-implicit at-sortable at-title="Début">[[[displayAsDate(item.application_period.begin)]]]</td>
                            <td at-implicit at-sortable at-title="Fin">[[[displayAsDate(item.application_period.end)]]]</td>
                            <td at-implicit at-sortable at-title="Mise à jour">[[[displayAsDate(item.application_period.updated_at)]]]</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <at-pagination at-list="disruptions" at-config="config"></at-pagination>
                    </div>
                </div>
                <div ng-if="disruptions.length === 0">
                    <p class="text-center">Aucune anomalie</p>
                </div>
            </div>
        </div>
        <div class="medium-9 columns medium-offset-3 show-for-small-only">
            <div class="tile">
                <p class="text-center"> Mise à jour à [[[displayAsDate(data.info.updated)]]]</p>
                <div ng-if="disruptions.length > 0">
                    <div class="item row align-middle" ng-repeat="item in disruptions">
                        <div class="left-part columns small-3">
                                <p class="train-number text-center">
                                    <strong>[[[item.object_name]]]</strong>
                                </p>
                                <p class="train-status text-center">
                                    [[[item.status]]]
                                </p>
                        </div>
                        <div class="right-part columns small-9">
                            <p class="train-hours train-hours-begin">
                                <span class="hours-title">Départ : </span>[[[displayAsDate(item.application_period.begin)]]]
                            </p>
                            <p class="train-hours train-hours-end">
                                <span class="hours-title">Arrivé  : </span>[[[displayAsDate(item.application_period.end)]]]
                            </p>
                            <p class="train-reason">
                                [[[item.text]]]
                            </p>
                        </div>
                    </div>
                </div>
                <div ng-if="disruptions.length === 0">
                    <p class="text-center">Aucune anomalie</p>
                </div>
            </div>
        </div>
    </div>
</div>
