<div class="content">
    <div class="row">
        <div class="medium-3 columns">
            <div class="tile">
                <h3>Options</h3>
                <ul class="menu vertical">
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                    <li><a href="#">Option 3</a></li>
                    <li><a href="#">Option 4</a></li>
                </ul>
            </div>
        </div>
        <div class="medium-9 columns">
            <div class="tile">
                <table>
                    <thead>
                    <tr>
                        <th>Table Header</th>
                        <th>Table Header</th>
                        <th width="150">Table Header</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Content Goes Here</td>
                        <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                        <td>Content Goes Here</td>
                    </tr>
                    <tr>
                        <td>Content Goes Here</td>
                        <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                        <td>Content Goes Here</td>
                    </tr>
                    <tr>
                        <td>Content Goes Here</td>
                        <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                        <td>Content Goes Here</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
