<div class="content" ng-app="app">
    <div class="row">
        <div class="medium-3 columns">
            <div class="tile">
                <h3>Options</h3>
                <ul class="menu vertical">
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                    <li><a href="#">Option 3</a></li>
                    <li><a href="#">Option 4</a></li>
                </ul>
            </div>
        </div>
        <div class="medium-9 columns">
            <div class="tile" ng-controller="basicExampleCtrl">
                <table class="table table-striped" at-table at-paginated at-list="list" at-config="config">
                    <thead></thead>
                    <tbody>
                    <tr>
                        <td at-implicit at-sortable at-attribute="index" width="150" at-initial-sorting="asc"></td>
                        <td at-implicit at-sortable at-attribute="name"  width="250"></td>
                        <td at-implicit at-sortable at-attribute="email"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagination-centered">
                    <at-pagination at-list="list" at-config="config"></at-pagination>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-controller="LineCtrl">
        <div class="medium-9 columns medium-offset-3">
            <div class="tile">
                <h3>Example de graphique</h3>
                <canvas id="line" class="chart chart-line" chart-data="data"
                        chart-labels="labels" chart-series="series" chart-options="options"
                        chart-dataset-override="datasetOverride" chart-click="onClick"
                </canvas>
            </div>
        </div>
    </div>
</div>
